$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "login";
@import "mainLobby";
@import "gameLobby";

$cell-size :30px;
$cell-base-color :red;
$cell-wrapper-color :darkred;
$wrapper-text-color :white;
$cell-spacing: 3px;
$transition-time: 0.2s;

$wrapper-inner-size : 20px;
$preview-wrapper-inner-size : 10px;
$preview-cell-size :10px;

.no-animate {
  -webkit-transition: none !important;
  transition: none !important;
}

.waiting {
  color: lightgrey;
}
.currently-playing {

}

.cell {
  transition: background $transition-time,box-shadow $transition-time;
  background: $cell-base-color;
  width: $cell-size;
  height: $cell-size;

  cursor: pointer;
  text-align: center;

  &:hover {
    background: lighten($cell-base-color,30%);
  }
  &.black{
    background: darken($cell-base-color,30%);
  }
  &.white{
    background: lighten($cell-base-color,40%);
  }
  &.selected {
    box-shadow:  inset 2px 2px 8px rgba(0,0,0,0.8);
  }
  &.preview {
    width: $preview-cell-size;
    height: $preview-cell-size;
  }
}

.wrapper {
  cursor: pointer;
  color : $wrapper-text-color;
  background: $cell-wrapper-color;

  &:active {
    box-shadow:  inset 2px 2px 8px rgba(0,0,0,0.8);
  }

  .wrapper-inner-content {
    width: $wrapper-inner-size;
    height: $wrapper-inner-size;
    text-align: center;
    margin: auto;
    &.preview {
      width: $preview-wrapper-inner-size;
      height: $preview-wrapper-inner-size;
      font-size:$preview-wrapper-inner-size;
      line-height: $preview-cell-size;
    }
    &.completed {
      color:black;
      background: white;
    }
  }

  &.left-wrapper {
    .wrapper-inner-content {
      display: inline-block;
      float: left;
      height: $cell-size;
      &.preview {
        height: $preview-cell-size;
      }
    }
  }
  &.top-wrapper {
    .wrapper-inner-content {
      width: $cell-size;
      &.preview {
        width: $preview-cell-size;
        line-height: $preview-cell-size;
      }
    }
  }

}

.gridTable {
  background: black;
  border-collapse: separate;
  border-spacing: $cell-spacing $cell-spacing;
  th{


  }
}

.blocker {

  background: rgba(183, 183, 183, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  .inner-content{
    text-align: center;
    top: calc(50% - 20px);
    position: relative;
    i{
      font-size: 40px;
    }
  }
}

.modal {
  background: rgba(0,0,0,0.2);
  text-align: center;
  .modal-header {
    background: lightblue;
    color: white;
    font-weight: bold;
  }
}