<h2>Game</h2>
<div ng-class="gameResult.gameEnded ? 'show': ''" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Game ended</h2>
            </div>
            <div class="modal-body" ng-if="!gameResult.tie">
                <h3>The winner is {{gameResult.winnerName}} !!!</h3>
            </div>
            <div class="modal-body" ng-if="gameResult.tie">
                <h3 ng-if="state.gamePlayers.length > 1">Its a TIE ! ! ! </h3>
                <h3 ng-if="state.gamePlayers.length == 1">Game over</h3>
            </div>
            <div class="modal-footer">
                <button ng-click="goBackToLobby()" class="btn btn-primary">
                    Back to lobby
                </button>
            </div>
        </div>
    </div>
</div>

<div ng-if="gameSettings == null">
    loading settings
</div>
<div ng-if="gameSettings != null">

    <div class="row room details">
        <div class="col-xs-12 text-center">
            <p>room name : {{gameSettings.gametitle}}</p>
            <p>{{state.gamePlayers.length}}/{{gameSettings.totalPlayers}}</p>
            <p>Current turn : {{state.currentPlayer}}</p>

            <!--personal game params-->
            <p>Moves: {{state.currentMove}}/{{state.maxMoves }}</p>
        </div>
    </div>

    <div class="row main">

        <!--Players panel-->
        <div class="col-xs-4 players">
            <h3>Players:</h3>
            <div ng-repeat="i in getTimes(gameSettings.totalPlayers) track by $index">

                <!-- For logged in players -->
                <div ng-class="state.gamePlayers[$index].name == state.currentPlayer ? 'currently-playing':'waiting'"
                     ng-if="$index < state.gamePlayers.length">

                    {{state.gamePlayers[$index].name}}

                    <span>
                    {{state.gamePlayers[$index].score}}/100
                    </span>

                    <span ng-if="currentPlayerIsMe($index)">
                    (ME!!!)
                    </span>

                    <span ng-if="!state.gamePlayers[$index].isActive" class="text-muted">
                    (left)
                    </span>

                </div>

                <!-- For empty player slot-->
                <div ng-if="$index >= state.gamePlayers.length">
                    ((Empty))
                </div>
            </div>
            <div>
                <h3>History:</h3>
                <ui>
                    <li ng-repeat="historyItem in playerHistory">
                        <span ng-repeat="move in historyItem">
                            <span ng-if="$first">
                                <i class="{{move.from |mapColorToFA}}"></i>
                                <i class=" fa fa-arrow-right" aria-hidden="true"></i>
                                <i class="{{move.to |mapColorToFA}}" aria-hidden="true"></i>
                            </span>
                        ({{move.position.x}},{{move.position.y}})
                        </span>
                    </li>
                </ui>
            </div>
        </div>

        <!-- Grid panel -->
        <div class="col-xs-8 grid">

            <div class="blocker" ng-if="!isGameFull() || isGameFull() &&!isMyTurn()">
                <div class="inner-content">
                    <span ng-if="isGameFull()">Wait for your turn</span>
                    <span ng-if="!isGameFull()">Waiting for game to be full</span>
                    <div>
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>

            <div class="actions">
                <button class="btn btn-default" ng-click="leaveRoom()">leave</button>
                <button class="btn btn-default" ng-click="EndTurn()">EndTurn</button>

                <button class="btn btn-default" ng-disabled="!undoAvailable"
                        ng-click="Undo()">Undo
                </button>
                <button class="btn btn-default" ng-disabled="!redoAvailable"
                        ng-click="Redo()">Redo
                </button>

                <button class="btn btn-default" ng-disabled="state.currentMove > state.maxMoves "
                        ng-click="ColorSelection('black')">Black
                </button>
                <button class="btn btn-default" ng-disabled="state.currentMove > state.maxMoves "
                        ng-click="ColorSelection('white')">White
                </button>
                <button class="btn btn-default" ng-disabled="state.currentMove > state.maxMoves "
                        ng-click="ColorSelection('')">None
                </button>
            </div>

            <table class="gridTable">

                <tr>
                    <th class="top-wrapper wrapper">

                    </th>

                    <th class="top-wrapper wrapper"
                        ng-repeat="columnSlice in gameSettings.columnSlices track by $index"
                        ng-init="mainIndex = $index"
                        ng-click="selectColumn($index)">

                        <div class="wrapper-inner-content"
                             ng-class="columnSlicesCompletedBlocks[mainIndex][$index]? 'completed':'' "
                             ng-repeat="slice in columnSlice track by $index">
                            {{slice}}
                        </div>
                    </th>
                </tr>

                <tr ng-repeat="row in grid  track by $index"
                    ng-init="mainIndex2 = $index">

                    <th class="left-wrapper wrapper"
                        ng-click="selectRow($index)">

                        <div class="wrapper-inner-content"
                             ng-class="rowSlicesCompletedBlocks[mainIndex2][$index]? 'completed':'' "
                             ng-repeat="slice in gameSettings.rowSlices[$index] track by $index">
                            {{slice}}
                        </div>
                    </th>

                    <th ng-repeat="cell in row  track by $index"
                        ng-click="onCellClicked(cell)"
                        ng-class="cell.selected? 'selected':'notselected'"
                        class="cell {{cell.color}}">
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>