<h2>Main Lobby</h2>
<div class="container">

    <!--Upload file section-->
    <div class="row">
        <div class="col-xs-6">
            <input type="file" file-model="gameFile"/>
            <button class="btn btn-primary" ng-click="uploadFile()">upload</button>
            <p class="text-danger" ng-if="uploadeErrorMessage">{{uploadeErrorMessage}}</p>
        </div>
        <div class="col-xs-6">
            <button ng-click="logOut()" class="pull-right">
                Logout
            </button>
        </div>
    </div>


    <div class="row">
        <!--Users-->
        <div class="col-xs-3">
            <div class="user-item" ng-repeat="user in users">
                <i ng-if="user.type == 'Human'" class="fa fa-user"></i>
                <i ng-if="user.type != 'Human'" class="fa fa-tv"></i>
                {{user.name}}
            </div>
        </div>

        <!--Games-->
        <div class="col-xs-9 rooms">
            <div class="rooms-container">
                <div class="rooms-container-inner">
                    <div ng-click="roomSelected($index)"
                         ng-class="isSelected($index)? 'selected':'not-selected'"
                         class="no-animate room-item panel panel-info"
                         ng-repeat="room in rooms">

                        <span class="room-name">{{room.name}} </span>
                        <span>{{room.id}}</span>
            <span ng-if="room.players!=null"
                  class="room-info">{{room.players.length}}/{{room.size}}</span>
                        <span ng-if="room.players==null" class="room-info">empty</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Selected room info-->
    <div class="row" ng-if="selectedRoom != null">
        <div class="col-xs-12 selected-room">
            <h3 class="text-center text-danger">Room info</h3>
            <div class="row">

                <h4 class="text-center">{{selectedRoom.settings.gametitle}}
                    <span class="small">({{selectedRoom.settings.maxGameMoves}} moves, Created by :{{selectedRoom.createdBy}})</span>
                </h4>
                <div class="col-xs-6">
                    <h4>Active players:</h4>

                    <ul>
                        <li ng-repeat="player in selectedRoom.players">
                            {{player.name }} <span class="small text-muted">({{player.type}})</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <!--Board Preview-->
                    <h4>Board preview:</h4>
                    <table class="gridTable">
                        <tr>
                            <th class="top-wrapper wrapper">

                            </th>

                            <th class="top-wrapper wrapper"
                                ng-repeat="columnSlice in selectedRoom.settings.columnSlices track by $index">

                                <div class="wrapper-inner-content preview"
                                     ng-repeat="slice in columnSlice track by $index">
                                    {{slice}}
                                </div>
                            </th>
                        </tr>

                        <!--ROW-->
                        <tr ng-repeat="columnSlice in selectedRoom.settings.columnSlices track by $index">
                            <th class="left-wrapper wrapper">

                                <div class="wrapper-inner-content preview"
                                     ng-repeat="slice in selectedRoom.settings.rowSlices[$index] track by $index">
                                    {{slice}}
                                </div>
                            </th>

                            <th ng-repeat="columnSlice in selectedRoom.settings.columnSlices track by $index"
                                class="cell preview">
                            </th>
                        </tr>
                    </table>
                </div>

                <button ng-disabled="selectedRoom.players.length == selectedRoom.size"
                        ng-click="joinRoom(selectedRoom)"
                        class="btn btn-primary">Join room
                </button>



            </div>
        </div>
    </div>

</div>

