<h4>Main Lobby</h4>
<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <div class="user-item" ng-repeat="user in users">
                <i ng-if="users.type == 'Human'" class="fa fa-user"></i>
                <i ng-if="users.type != 'Human'" class="fa fa-tv"></i>
                {{user.name}}
            </div>
        </div>

        <div ng-if="!lobbyService.loading" class="col-xs-9 rooms">
            <div class="rooms-container">
                <div class="rooms-container-inner">
                    <div ng-click="roomSelected($index)"
                         ng-class="isSelected($index)? 'selected':'not-selected'"
                         class="room-item panel panel-info"
                         ng-repeat="room in rooms">

                        <span class="room-name">{{room.name}} </span>
            <span ng-if="room.players!=null"
                  class="room-info">{{room.players.length}}/{{room.size}}</span>
                        <span ng-if="room.players==null" class="room-info">empty</span>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="lobbyService.loading" class="col-xs-12 fetching-room">
            <div class="text-center">
                <p>{{loadMessage}}</p>
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-if="!lobbyService.loading" class="col-xs-12 selected-room">
            <h1 class="text-center text-danger">Room info</h1>
            <h3 ng-if="selectedRoom == null" class="text-center text-danger">No room selected</h3>
            <div ng-if="selectedRoom != null">
                <h3 class="text-center">{{selectedRoom.name}}</h3>
                <h4>Active players:</h4>
                <ul>
                    <li ng-repeat="player in selectedRoom.players">
                        {{player.name }} <span class="small text-muted">({{player.type}})</span>
                    </li>
                </ul>
                <button ng-click="joinRoom(selectedRoom)"
                        class="btn btn-info">Join room
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <input type= "file" file-model="gameFile"/>
        <button ng-click="uploadFile()">upload</button>
        <!--<input type="file" ng-click="selectFile()">Select file</input>-->
    </div>
</div>

