<h2 class="text-center">Main Lobby</h2>
<div class="container">

    <!--Upload file section-->
    <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
            <button ng-disabled="!gameFile" class="btn btn-primary" ng-click="uploadFile()">upload</button>
            <button ng-click="logOut()" class="btn btn-danger pull-right">
                Logout
            </button>
            <input type="file" file-model="gameFile"/>
            <p class="text-danger" ng-if="uploadeErrorMessage">{{uploadeErrorMessage}}</p>
        </div>
    </div>


    <div class="row">
        <!--Users-->
        <div class="col-xs-4">
            <h4>Active players:</h4>
            <div class="user-item" ng-repeat="user in users">
                <i ng-if="user.type == 'Human'" class="fa fa-user"></i>
                <i ng-if="user.type != 'Human'" class="fa fa-tv"></i>
                {{user.name}}
                <span ng-if="user.name==loggedInUser.name">(me)</span>
            </div>
        </div>

        <!--Games-->
        <div class="col-xs-8 rooms">
            <h4>Active games:</h4>
            <div class="rooms-container">
                <div class="rooms-container-inner">
                    <div ng-click="roomSelected($index)"
                         ng-class="isSelected($index)? 'selected':'not-selected'"
                         class="no-animate room-item panel panel-info"
                         ng-repeat="room in rooms">

                        <span class="room-name">{{room.name}} </span>
                        <span ng-if="room.players!=null && room.players.length < room.size"
                              class="room-info">players: {{room.players.length}}/{{room.size}}</span>
                        <span ng-if="room.players!=null && room.players.length >= room.size"
                              class="room-info">full</span>
                        <span ng-if="room.players==null" class="room-info">empty</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Selected room info-->
    <div class="well well-lg row" ng-if="selectedRoom != null">
        <div class="col-xs-12 selected-room">
            <div class="row">
                <div class="col-xs-12">
                    <p>Room name: <strong>{{selectedRoom.settings.gametitle}}</strong></p>
                    <p>Created by: <strong>{{selectedRoom.createdBy}}</strong></p>
                    <p>Max moves: <strong>{{selectedRoom.settings.maxGameMoves}}</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <h4>Active players:</h4>

                    <div ng-repeat="player in selectedRoom.players">
                        <i ng-if="player.type == 'Human'" class="fa fa-user"></i>
                        <i ng-if="player.type != 'Human'" class="fa fa-tv"></i>
                        {{player.name}}
                    </div>
                </div>
                <div class="col-xs-8">
                    <!--Board Preview-->
                    <h4>Board preview:</h4>
                    <table class="gridTable">
                        <tr>
                            <th class="top-wrapper wrapper">

                            </th>

                            <th class="top-wrapper wrapper"
                                ng-repeat="columnSlice in selectedRoom.settings.columnSlices track by $index">

                                <div class="wrapper-inner-content preview"
                                     ng-repeat="slice in columnSlice track by $index">
                                    {{slice}}
                                </div>
                            </th>
                        </tr>

                        <!--ROW-->
                        <tr ng-repeat="columnSlice in selectedRoom.settings.columnSlices track by $index">
                            <th class="left-wrapper wrapper">

                                <div class="wrapper-inner-content preview"
                                     ng-repeat="slice in selectedRoom.settings.rowSlices[$index] track by $index">
                                    {{slice}}
                                </div>
                            </th>

                            <th ng-repeat="columnSlice in selectedRoom.settings.columnSlices track by $index"
                                class="cell preview">
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row text-center">
                <hr>
            </div>
            <div class="row text-center">
                <button ng-disabled="
                playerInSelectedRoom() ||
                selectedRoom.players.length >= selectedRoom.size"
                        ng-click="joinRoom(selectedRoom)"
                        class="btn btn-primary">Join room
                </button>
            </div>
        </div>
    </div>

</div>

